@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

section,
#inscripcion,
footer {
  scroll-snap-align: start;
  scroll-margin-top: 5rem;
}

@theme {
  --color-primary: #FDD835;
  --color-secondary: #333333;
  --color-midnight: #121063;
  --color-tertiary: #E0E0E0;
  --color-neutral: #F8F8F8;
  --color-brown: #715E00;
}